In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler, ClusterCentroids

In [6]:


columns = ['EEG Fp1', 'EEG F3', 'EEG C3', 'EEG P3', 'EEG O1', 'EEG F7', 'EEG T3',
       'EEG F9', 'EEG Fz', 'EEG Cz', 'EEG Pz', 'EEG Fp2', 'EEG F4', 'EEG C4',
       'EEG P4', 'EEG O2', 'EEG F8', 'EEG T4', 'EEG T6', 'EEG Fc2', 'EEG Fc6',
       'EEG Cp6', 'EEG F10']
res_col = ['outcome']
X = pd.read_csv('/Users/madhavp/DRL/physionet.org/files/siena-scalp-eeg/1.0.0/PN00/PN00-1_out_23.csv', usecols = columns)
y = pd.read_csv('/Users/madhavp/DRL/physionet.org/files/siena-scalp-eeg/1.0.0/PN00/PN00-1_out_23.csv', usecols = res_col)
print('Original dataset shape %s' % Counter(y))
rus = RandomUnderSampler(random_state=42)
# rus = ClusterCentroids(random_state=42)
X_res, y_res = rus.fit_resample(X, y)
print('Resampled dataset shape %s' % Counter(y_res))

Original dataset shape Counter({'outcome': 1})
Resampled dataset shape Counter({'outcome': 1})

In [3]:
columns = ['FP1-F7', 'F7-T7','T7-P7', 'P7-O1', 'FP1-F3', 'F3-C3', 'C3-P3', 'P3-O1', 'FP2-F4', 'F4-C4', 'C4-P4', 'P4-O2', 'FP2-F8', 'F8-T8', 'T8-P8', 'P8-O2', 'FZ-CZ', 'CZ-PZ']
res_col = ['seizure']
X = pd.read_csv('CHB.csv', usecols = columns)
y = pd.read_csv('CHB.csv', usecols = res_col)
print('Original dataset shape %s' % Counter(y))
rus = RandomUnderSampler(random_state=42)
# rus = ClusterCentroids(random_state=42)
X_res, y_res = rus.fit_resample(X, y)
print('Resampled dataset shape %s' % Counter(y_res))

Original dataset shape Counter({'seizure': 1})
Resampled dataset shape Counter({'seizure': 1})

In [7]:
print(X.shape,y.shape)

(672000, 23) (672000, 1)

In [8]:
print(X_res.shape,y_res.shape)

(562, 23) (562, 1)

In [9]:
df1 = pd.DataFrame(X_res)
df2 = pd.DataFrame(y_res)
df_res = pd.concat([df1,df2], axis=1)
df_res.to_csv('/Users/madhavp/DRL/physionet.org/files/siena-scalp-eeg/1.0.0/PN00/siena_res.csv')

In [11]:
df = pd.read_csv("/Users/madhavp/DRL/chbmit_preprocessed_data.csv")
df.head()

,# FP1-F7,C3-P3,C4-P4,CZ-PZ,F3-C3,F4-C4,F7-T7,F8-T8,FP1-F3,FP2-F4,...,P3-O1,P4-O2,P7-O1,P7-T7,P8-O2,T7-FT9,T7-P7,T8-P8-0,T8-P8-1,Outcome
0,0.000020,0.000010,0.000022,0.000037,0.000032,0.000035,0.000016,0.000046,-0.000007,0.000043,...,0.000024,-0.000030,0.000010,-0.000011,-0.000037,0.000008,0.000012,0.000021,0.000021,0.0
1,0.000022,0.000008,0.000021,0.000039,0.000030,0.000032,0.000015,0.000039,-0.000006,0.000042,...,0.000026,-0.000017,0.000012,-0.000008,-0.000029,0.000010,0.000009,0.000023,0.000023,0.0
2,0.000021,0.000012,0.000021,0.000040,0.000025,0.000030,0.000013,0.000036,-0.000006,0.000040,...,0.000027,-0.000018,0.000014,-0.000009,-0.000034,0.000012,0.000009,0.000027,0.000027,0.0
3,0.000019,0.000012,0.000021,0.000039,0.000023,0.000028,0.000013,0.000035,-0.000008,0.000036,...,0.000030,-0.000024,0.000015,-0.000009,-0.000042,0.000009,0.000010,0.000033,0.000033,0.0
4,0.000019,0.000012,0.000021,0.000036,0.000023,0.000024,0.000012,0.000024,-0.000009,0.000032,...,0.000032,-0.000014,0.000017,-0.000008,-0.000031,0.000009,0.000008,0.000035,0.000035,0.0

In [12]:
df.shape

(2097150, 24)

In [13]:
df['Outcome'].value_counts()[0]

1048575

In [14]:
df.columns

Index(['# FP1-F7', 'C3-P3', 'C4-P4', 'CZ-PZ', 'F3-C3', 'F4-C4', 'F7-T7',
       'F8-T8', 'FP1-F3', 'FP2-F4', 'FP2-F8', 'FT10-T8', 'FT9-FT10', 'FZ-CZ',
       'P3-O1', 'P4-O2', 'P7-O1', 'P7-T7', 'P8-O2', 'T7-FT9', 'T7-P7',
       'T8-P8-0', 'T8-P8-1', 'Outcome'],
      dtype='object')

In [3]:
pn01 = pd.read_csv("/Users/madhavp/DRL/physionet.org/files/siena-scalp-eeg/1.0.0/PN00/PN00-1.csv")

In [4]:
pn01.shape

(1344000, 36)